@model Prism.OrchardCore.ViewModels.PrismSettingsViewModel


<div class="form-group field-display field-display-prism">
    <label asp-for="Theme">@T["Select the theme to use"]</label>
    <select asp-for="Theme" class="form-control col-sm-3">
        <option value="prism">@T["Prism"]</option>
        <option value="prism-dark">@T["Dark"]</option>
    </select>
</div>
